@model MvcTutorial.Models.StudySession.StudyTopic

@{
    ViewData["Title"] = "Session d'étude";
}

<h2>Session name is @Html.DisplayFor(model => model.question) @Html.DisplayFor(model => model.answer) @Html.DisplayFor(model => model.repetitions)</h2>
<form>
    <p>Question: @Model.question</p>
    <p>Answer: @Model.answer</p>
    <p>Repetitions: @Model.repetitions</p>
    @{
        var test = Model;
        <p>pénis1</p>
        Html.ActionLink("Study", "Study_session", Model);
        <p>pénis2</p>
    }
    @Html.ActionLink("Test", "Study_session", Model)
    <p>pénis3</p>
</form>
